<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <title>Document</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

    * {
      padding: 0;
      margin: 0;
      list-style: none;
      text-decoration: none;
      font-family: 'Noto Sans KR', sans-serif;
      box-sizing: border-box;
    }
    .container{
      width: 600px;
      height:400px;
    }

    div {
      border: 1px solid gray;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-3" th:text="${detail.seq}">글번호</div>
      <div class="col-6" th:text="${detail.title}">글제목</div>
      <div class="col-3" th:text="${detail.writer}">작성자</div>
    </div>
    <div class="row">
      <div class="col-12" th:text="${detail.content}">
        내용칸
      </div>
    </div>
  </div>
</body>

</html>