<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.home.boardtoy.dao.TmpMapper">

    <select id="getTmp" resultType="com.home.boardtoy.dto.TestDTO">
        select * from tmp
    </select>

</mapper>